li{
    list-style-type: none;
    display: inline;
    padding-inline:10px;
    
}
ul{
    text-align: center;
    padding: 10px;
}
.divNav{
    background-color:#D3D9D4;
}
a{
    text-decoration: none;
    color: #212A31;
}
a:link, a:visited {
    color: #212A31;
    text-decoration: none;
}

a:hover, a:active {
    color: #212A31; /* alebo iná farba pri hover */
    text-decoration: none;
}
