.main-element{
    background-color: #748D92;
    border-radius: 10px;
    
}
h2{
    color: #fff;
}
.img{
    width: 200px;
    height: 30%;
}
.img-carousel {
    max-height: 400px;
    width: 100%;
    /* Remove object-fit: cover; */
}